.about {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	position: absolute;
}

.role {
	position: absolute;
	color: #121212;
	height: fit-content;
	width: fit-content;
	font-size: 40px;

	text-shadow: 1px 5px 0 #3b4ab8;

	margin: 75vh 0vw 0vh 5vw;
	transform: rotate(-90deg);
}

p {
	font-size: 1.5rem;
	margin: 0rem 2rem;
}