.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%
}

.quote {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    letter-spacing: var(--h4-letter-spacing);
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social a {
    z-index: 3;
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    letter-spacing: var(--h6-letter-spacing);
    color: var(--primary);
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    transition: color ease 0.7s
}

.social a:after {
    position: absolute;
    content: "";
    height: 2px;
    background: var(--secondary);
    color: var(--on-secondary);
    bottom: 0;
    width: 0;
    z-index: -1;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease, height 0.3s ease 0.2s
}

.social a:hover:after {
    width: 100%;
    height: 1.1em;
    left: 0;
}

.social a:hover {
    color: var(--on-secondary)
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.social img {
    height: 25px;
    width: 25px;
}

.socials .social:first-of-type img {
    background: var(--on-surface);
    border-radius: 50%;
    padding: 1px
}