card-head {
    margin: 10px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF
}

card-title {
    font-size: 35px
}

currency-converter {
    font-size: 25px;
    margin-right: 10px;
    align-self: flex-end
}

current-currency {
    color: #3b4ab8
}

table {
    margin: 0px 20px 0px 20px;
    color: #3b4ab8;
    font-size: 27px;
    display: flex;
    flex-direction: column; 
    overflow: auto;
}

table > tbody > tr > th,td {
    width: 10vw;
    text-align: center;
}

.price-column {
    display: inline-table;
    margin-left: -1px;
}

table > tbody > tr > th:nth-child(1),td:nth-child(1) {
    width: 34vw;
    text-align: left;
}

.data-table {
    height: 27vh;
    color: #FFFFFF;
    font-size: 23px;
}

.bag-head {
    margin: 10px 20px 0px 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #FFFFFF
}

.bag-title {
    font-size: 35px;
    text-align: center;
}

.vals {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.current-val {
    margin-top: 6vh;
    font-size: 60px;
    color: #3b4ab8;
    font-weight: lighter;
}

.current-val-dec {
    font-size: 30px;
}

.currency {
    margin-left: 1vw;
    font-size: 30px;
    color: #FFFFFF;
}

.gain-loss {
    font-size: 28px;
}

.gain-loss-val {
    margin-left: 0.7vw;
    padding: 1px 4px 1px 4px;
    background: #CF6679;
    color: #000000;
    border-radius: 5px;
}

.invested {
    margin-top: 2vh;
    font-size: 27px;
}

.invested-val {
    margin-left: 1vw;
    color: #3b4ab8;
}