.navStyle {
    position: absolute;
    margin: 3vh 0vw 0vh 2vw;
    display: flex;
    justify-content: center;
}

.logo {
    height: 7vh;
    width: 5vw;
    margin-top: -1vh;
}

.logo img {
    height: 100%;
}

.nav {
    width: 90vw !important;
    color: #FFFFFF;
    font-size: 40px;
    margin-top: -2vh;
    display: flex;
    align-items: center;
}