.nav-style {
    position: relative;
    padding: 1vh 2vh;
    display: flex;
    justify-content: center;
    background: var(--surface);
    gap:  15px;
}

.logo {
    height: 100%;
    width: 5vw;
    padding: 3vh 0;
    position: relative;
}

.logo img {
    height: 100%;
    width:  100%;
    position: absolute;
    left: 0;
    top: 0;
}

.nav {
    color: var(--on-surface);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    letter-spacing: var(--h3-letter-spacing);
    display: flex;
    align-items: center;
    flex: auto;
    gap: 20px;
    vertical-align: center;
}

.nav-list {
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    letter-spacing: var(--h6-letter-spacing);
    display: flex;
    flex: auto;
    gap: 20px;
}

.nav-item span {
    transition: all 0.3s ease;
    padding: 0 5px;
    display: inline-block;
}

.nav-item span:hover {
    transform: scale(1.1);
    color: var(--secondary);
    transform-origin: center;
}

.nav-item .active {
    color: var(--primary) !important;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: var(--on-surface);
}

.bag-btn {
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    background: var(--secondary);
    cursor: pointer;
    color: var(--on-secondary);
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    transition: all 0.1s;
    align-self: center;
    text-transform: uppercase;
}

.bag-btn:hover {
    transform: scale(1.03, 1.05);
}

.vertical-divider {
    height: 100%;
    width: 3px;
    background: var(--on-surface);
}

.user-heading {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    letter-spacing: var(--h5-letter-spacing);
    color:  var(--on-surface);
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-icon {
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-icon:hover {
    color:  var(--secondary);
}