.navStyle {
    position: absolute;
    margin: 3vh 0vw 0vh 2vw;
    display: flex;
    justify-content: center;
}

.logo {
    height: 7vh;
    width: 5vw;
    margin-top: -1vh;
}

.logo img {
    height: 100%;
}

.nav {
    width: 90vw !important;
    color: #FFFFFF;
    font-size: 40px;
    margin-top: -2vh;
    display: flex;
    align-items: center;
}

.navs {
    width: 33vw !important;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 1vh;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
}

.navs > span {
    letter-spacing: 2px;
    transition: all 0.1s;
}

.navs > span:hover {
    transform: scale(1.05);
    color: #2b3bb4;
    letter-spacing: 3px;
}

.navs > .active {
    color: #3b4ab8;
    font-weight: bold;
}

.bag-btn {
    position: absolute;
    right: 1em;
    margin-top: -1vh;
}

.bag-btn > button {
    font-size: 17px;
    font-weight: bold;
    background: #3b4ab8;
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;

    transition: all 0.1s;
}

.bag-btn > button:hover {
    transform: scale(1.03, 1.05);
}