.nav-style {
    position: relative;
    padding: 2vh 3vh;
    display: flex;
    justify-content: center;
    background: var(--surface);
    gap:  15px;
}

.logo {
    height: 100%;
    width: 5vw;
    padding: 3vh 0;
    position: relative;
}

.logo img {
    height: 100%;
    width:  100%;
    position: absolute;
    left: 0;
    top: 0;
}

.nav {
    color: var(--on-surface);
    font-size: 40px;
    display: flex;
    align-items: center;
    flex: auto;
    gap: 20px;
    vertical-align: center;
}

.nav-list {
    font-size: 20px;
    display: flex;
    flex: auto;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-item span {
    letter-spacing: 2px;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav-item span:hover {
    transform: scale(1.1);
    color: var(--secondary);
    transform-origin: center;
}

.nav-item .active {
    color: var(--primary) !important;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: var(--on-surface);
}

.bag-btn {
    font-size: 17px;
    font-weight: bold;
    background: var(--secondary);
    cursor: pointer;
    color: var(--on-secondary);
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    transition: all 0.1s;
    align-self: center;
}

.bag-btn:hover {
    transform: scale(1.03, 1.05);
}

.vertical-divider {
    height: 100%;
    width: 3px;
    background: var(--on-surface);
}