.pin-head {
	font-size: 2em;
	color: #3b4ab8;
}

.apply-btn {
	background: #3b4ab8;
	color: black;
	font-weight: bolder;
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
}

.pin-card {
	grid-area: c;
	width: 98vw;
	height: 100%;
	display: flex;
}

.dropdown-area {
	/*flex: 1;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	gap: 15px;
}


.chart1, .chart2 {
	border: 2px dashed var(--secondary);
	/*display: flex;*/
	justify-content: center;
	flex: 1;
	max-width: 45vw;
}
