.dropdown-area {
	display: flex;
	justify-content: center;
	align-items:  center;
	gap: 15px;
	padding: 2vh 0;
}

.chart1, .chart2 {
	border: 2px dashed var(--secondary);
	justify-content: center;
	flex: 1;
	max-height: 45%;
}

.arrow-svg {
	width: 150px;
}
