.pin-head {
	font-size: 2em;
	color: #3b4ab8;
}

.apply-btn {
	background: #3b4ab8;
	color: black;
	font-weight: bolder;
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
}

.dropdown-area {
	display: flex;
	justify-content: center;
	align-items:  center;
	gap: 15px;
	padding: 2vh 0;
}

.chart1, .chart2 {
	border: 2px dashed var(--secondary);
	justify-content: center;
	flex: 1;
	max-height: 45%;
}

/*.chart1 > .card > div,*/
/*.chart2 > .card > div {*/
/*	width: 100% !important;*/
/*	height: 100% !important;*/
/*}*/

.arrow-svg {
	width: 150px;
}
