.react-select__placeholder, .react-select__input, .react-select__single-value {
    background: linear-gradient(45deg, var(--primary), var(--secondary)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.react-select__input-container {
    color: var(--secondary) !important;
}

.react-select__menu {
    background-color: var(--surface) !important;
    border: var(--primary) solid 2px;
}

.react-select__menu .list-item > div {
    background-color: var(--surface) !important;
    color: var(--on-surface) !important;
}
.react-select__menu .list-item > div:hover {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important ;
}