.ui.dropdown.virtualized .menu {

    &.inner {
        margin: 0 -1px !important;
        left: 0;
        overflow: initial;
        border-radius: 0 !important;
        background: var(--surface);
    }

    > .item {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: var(--on-surface);
        border: 1px solid var(--surface);
    }
}

.ui.dropdown.virtualized {
    margin: 0 5px;
    border: 2px solid var(--secondary);
    min-width: 5vw;
    max-width: 10vw;
    background: var(--surface) !important;
}
.ui.dropdown.virtualized.active {
    border: 2px solid var(--secondary);
}

.ui.dropdown.virtualized:hover {
    margin: 0 5px;
    border: 2px solid var(--primary);
}

.ui.selection.active.dropdown.virtualized:hover {
    border: 2px solid var(--primary);
}

.ui.active.selection.dropdown.virtualized .text {
    color: var(--on-surface);
}

.ui.selection.active.dropdown.virtualized .menu {
    border: 2px solid var(--primary);
    left: 0;
}

.ui.dropdown.virtualized .text {
    color: var(--on-surface);
    display: block;
}

.ui.dropdown.virtualized > .dropdown.icon:before {
    color: var(--secondary);
}

.ui.dropdown.virtualized:hover > .dropdown.icon:before {
    color: var(--primary);
}

.ui.selection.dropdown:focus {
    border: 2px solid var(--secondary);
}

