.bag-head {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.bag-title {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    letter-spacing: var(--h5-letter-spacing);
}

.coming-soon-tag {
    font-size: var(--subtitle1-font-size);
    font-weight: var(--subtitle1-font-size);
    letter-spacing: var(--subtitle1-letter-spacing);
    border: 3px solid var(--primary);
    padding: 2px 5px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.bag-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;
}

.current-val {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    letter-spacing: var(--h2-letter-spacing);
    color: var(--primary);
}

.current-val-dec {
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    letter-spacing: var(--h6-letter-spacing);
    color: var(--primary);
}

.currency {
    margin-left: 1vw;
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    letter-spacing: var(--h4-letter-spacing);
    color: var(--on-surface);
}

.gain-loss, .invested {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    letter-spacing: var(--h5-letter-spacing);
    color: var(--on-surface);
}

.gain-loss-val, .invested-val {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    letter-spacing: var(--h5-letter-spacing);
    margin-left: 10px;
}

.gain {
    color: var(--secondary);
}

.loss {
    color: var(--error);
}

.invested-val {
    color: var(--primary);
}



