html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;

  background-color: var(--background);
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
